{% extends 'base.html.twig' %}

{% block title %}Calendrier - Village des Solutions
{% endblock %}

{% block body %}

	<p class="text-xl font-semibold text-center pt-[7%]">Agenda des interventions des partenaires du village</p>

	<div class="pt-[5%] pb-[3%]">
		<div class="container mx-auto bg-white " id="calendar"></div>
	</div>

	<div id="eventModal" class="hidden flex justify-center text-center inset-0 bg-gray-500 bg-opacity-75 z-50 fixed pt-[20%]">
		<div class="bg-white rounded-lg w-1/3 pb-[2%] pt-[2%] h-1/3">
			<h2 id="modalTitle" class="font-semibold text-2xl"></h2>
			<p id="modalDescription" class="text-gray-600 text-xl"></p>
			<p id="modalDate" class="text-xl"></p>
			<div class="flex flex-row justify-center">
				<p id="modalstartDate" class="text-xl"></p>
				-
				<p id="modalendDate" class="text-xl"></p>
			</div>
			<p class="text-xl text-blue-800">Lieu :
				<a href="https://www.google.com/maps/dir/Poitiers/afpa+chatellerault+adresse/@46.7073685,0.2776965,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47fdbe72439eb3ab:0x97de2319c5e09093!2m2!1d0.3416875!2d46.5798429!1m5!1m1!1s0x47fda9c521cdca79:0x219189910ee54607!2m2!1d0.5323447!2d46.8131894?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D">205 Gd Rue de Châteauneuf, 86100 Châtellerault (Afpa)</a>
			</p>
			<div class="pt-2">
				<button onclick="modalClose()" class="rounded-lg bg-blue-600 px-2 py-2 text-white font-semibold hover:bg-blue-700">Fermer</button>
			</div>
		</div>
	</div>


	<script src="/calendar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet"/>

{% endblock %}
