{% extends 'base.html.twig' %}

{% block title %}
	{{partners.name}}- Village des solutions
{% endblock %}

{% block body %}

	<h2 class="pt-[7%] text-center uppercase font-semibold">{{partners.name}}</h2>

	{% if partners.logo %}
		<img src="{{ asset(partners.logo) }}" class="h-16" alt="Logo">
	{% endif %}

	<section>
		<h2 class="font-semibold text-xl">Présentation</h2>
		<div>
			Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
		</div>
	</section>

	<section>
		<h2 class="font-semibold text-xl">Les activités de ce partenaire</h2>
		<ul>
        <li></li>
        <li></li>
        <li></li>
        </ul>
	</section>

	<section>
		<h2 class="font-semibold text-xl">Les prochaines interventions</h2>
		<table class="table-fixed">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
      <td>Malcolm Lockyer</td>
      <td>1961</td>
    </tr>
    <tr>
      <td>Witchy Woman</td>
      <td>The Eagles</td>
      <td>1972</td>
    </tr>
    <tr>
      <td>Shining Star</td>
      <td>Earth, Wind, and Fire</td>
      <td>1975</td>
    </tr>
  </tbody>
</table>
	</section>


{% endblock %}
