<nav class="flex items-center gap-[40%]">

<img src="{{asset('images/afpalogo.png')}}" class="h-24" alt="Afpa village des solutions Logo" />
	<ul class="flex flex-row gap-2 justify-center font-semibold">
		<a href=""><li class="text-[#b5d997]">Accueil</li></a>
		<a href=""><li>Connexion</li></a>
		<a href=""><li>Contact</li></a>
	</ul>

</nav>